
@inject FunWithAspNetCoreMvc.Service.Interfaces.IGreetingServicecs GreetingService
<!doctype html>
<html>
<head>
    <title>Razor code examples</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p>@GreetingService.GetGreetingText()</p>
</body>
</html>