<!doctype html>
<html>
<head>
    <title>User registration</title>
    <meta  charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form method="post" action="~/UserInput/ProceedResult">
        <label>Firstname:</label><br />
        <input type="text" name="firstname" />

        <label>Lastname:</label><br />
        <input type="text" name="lastname" />

        <label>Age:</label><br />
        <input type="number" name="age" />

        <input type="submit" value="Register" />
    </form>
</body>
</html>