<!doctype html>
<html>
<head>
    <title>User registration</title>
    <meta  charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        @*<form method="post" action="~/UserInput/ProceedResult1">*@
        <form method="post" action="~/UserInput/ProceedResult2">
            <label>Firstname:</label><br />
            <!--I'm not sure we have to specify an instance name like 'user'.-->
            <!--<input type="text" name="user.FirstName" />-->
            <input type="text" name="firstname" />

            <label>Lastname:</label><br />
            <input type="text" name="lastname" />

            <label>Age:</label><br />
            <input type="number" name="age" />

            <input type="submit" value="Register" />
        </form>
    </div>

    <div>
        <h2>Register a list of users</h2>

        <form method="post" action="~/UserInput/ProceedResult3">
            @for (int i = 0; i < 3; i++)
            {
            <div class="user">
                <h3>User №@(i + 1)</h3>
                <p>
                    <label>Name:</label><br />
                    <input type="text" name="users[@i].FirstName" />
                </p>
                <p>
                    <label>Lastname:</label><br />
                    <input type="text" name="users[@i].LastName" />
                </p>
                <p>
                    <label>Age:</label><br />
                    <input type="number" name="users[@i].Age" />
                </p>
            </div>
            }

            <p>
                <input type="submit" value="RegisterAll" />
            </p>
        </form>
    </div>
</body>
</html>